In [1]:
import pandas as pd

In [15]:
samsong_df = pd.read_csv("data/samsong.csv")

In [16]:
hyundee_df = pd.read_csv("data/hyundee.csv")

In [18]:

day = samsong_df["요일"]
samsong = samsong_df["문화생활비"]
hyundee = hyundee_df["문화생활비"]

In [14]:
df = pd.DataFrame({"day": day, "samsong": samsong, "hyundee": hyundee})
df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925